nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 0 16px 0;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.botao-NavBar {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #667085;
}

.botao {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    width: 207px;
    height: 44px;
    gap: 12px;
}

.botao-Entrar {
    width: 83px;
    height: 44px;
    border: transparent;
    background-color: transparent;
    border-radius: 8px;
    color: #667085;
}

.botao-Cadastrar {
    width: 112px;
    height: 44px;
    border: 1px;
    background-color: #8E2424;
    border-radius: 8px;
    color: #FFFFFF;
}

.sobre-nos {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1440px;
    height: 407px;
    padding: 96px 96px;
    gap: 24px;
}

.secao-Sobre-nos {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-front;
    text-decoration-skip-ink: none;
    color: #8E2424;
}

.cabecalho-Titulo {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
    color: #101828;
}

.cabecalho-Texto{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
}

.metricas-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    height: 288px;
    padding: 0 0 96px 0;
    gap: 64px;
}

.conteiner-Metrica {
    width: 1280px;
    height: 192px;
    padding: 0 32px 0 32px;
    display: flex;
    gap: 64px;
}

.conteudo-Metrica {
    width: 1216px;
    height: 192px;
    display: flex;
    gap: 32px;
}

.primeira-Metrica {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.segunda-Metrica {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.terceira-Metrica {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quarta-Metrica {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.numero-Metrica {
    width: 280px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 15px;
    color: #8E2424;
}

.subtitulo-Metrica {
    width: 280px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #101828;
}

.paragrafo-Metrica {
    width: 280px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.secao-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1798px;
    padding: 96px 0 96px 0;
    gap: 64px;
}

.talentos {
    width: 1280px;
    height: 602px;
}

.conteiner-vagas {
    display: flex;
    width: 1280px;
    height: 138px;
    margin: 96px auto;
    padding: 0px 32px 0px 32px;
    gap: 32px;
}

.conteudo-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1216px;
    height: 138px;
    gap: 32px;
}

.bacgrund-titulo {
    width: 125px;
    height: 28px;
    border-radius: 16px;
    padding: 4px 12px 4px 12px;
    background-color:#8E24240D;
}

.titulo-vagas {
    width: 101px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
}

.subtitulo-vagas {
    width: 768px;
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
}

.paragrafo-vagas {
    width: 768px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
}

.vagas-Reuniao-Img {
    width: 1216px;
    height: 400px;
    margin: 74px auto;
}

.vaga {
    width: 1280px;
    height: 940px;
}

.conteiner-Designer {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 358px;
    margin-top: 94px;
    margin-left: 80px;
    padding: 0 32px 0 32px;
    gap: 64px;
}

.conteudo-Designer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 768px;
    height: 358px;
}

.items {
    width: 768px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.post {
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #EAECF0;
}

.conteudo-Vaga {
    width: 720px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-Vaga {
    width: 720px;
    height: 28px;
    display: flex;
    gap: 8px;
}

.detalhes-Vaga {
    width: 720px;
    height: 24px;
    display: flex;
    gap: 24px;
}

.conteiner-Desenvolvedor {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 518px;
    margin-top: 72px;
    margin-left: 80px;
    padding: 0 32px 0 32px;
    gap: 64px;
}

.conteudo-Desenvolvedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 518px;
    gap: 32px;
}

.banco-Vagas {
    width: 768px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.titulo-vaga {
    width: 720px;
    height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.informacoes {
    width: 720px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: var(--text-color);
}

.depoimento{
    width: 1440px;
    height: 500px;
    padding: 0 0 96px 0;
}

.conteiner-Depoimento-Colaborador {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 404px;
    padding: 0 32px 0 32px;
    gap: 32px;
}

.depoimento-colaborador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1216px;
    height: 404px;
    margin: 170px auto;
    padding: 64px 0 0 0;
    gap: 32px;
    border-radius: 16px;
    background: #C3191908;
}

.conteudo-Depoimento {
    width: 1088px;
    height: 124px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    gap: 16px;
}

.titulo-depoimento {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #8E2424;
}

.paragrafo-depoimento {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.colaborador {
    width: 1088px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.avatar-texto {
    width: 1088px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.img-avatar {
    width: 56px;
    height: 56px;
}

.info-colaboradora {
    width: 1088px;
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nome {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #101828;
}

.cargo {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}